menu "Application Configuration"

	menu "WiFi Setting"

		config ESP_WIFI_SSID
			string "WiFi SSID"
			default "myssid"
			help
				SSID (network name) to connect to.

		config ESP_WIFI_PASSWORD
			string "WiFi Password"
			default "mypassword"
			help
				WiFi password (WPA or WPA2) to connect to.

		config ESP_MAXIMUM_RETRY
			int "Maximum retry"
			default 5
			help
				Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

	endmenu

	menu "Radio Setting"

		choice DIRECTION
			prompt "Communication direction"
			default RADIO_TO_MQTT
			help
				Select Communication direction.
			config RADIO_TO_MQTT
				bool "Receive from radio and send by MQTT"
				help
					Receive from radio and send by MQTT.
			config MQTT_TO_RADIO
				bool "Receive from MQTT and send by radio"
				help
					Receive from MQTT and send by radio
		endchoice

		config PAYLOAD_SIZE
			int "Payload size (byte)"
			range 1 32
			default 32
			help
				Payload size.

		config RECEIVER_ADDRESS
			depends on RADIO_TO_MQTT
			string "My address"
			default "FGHIJ"
			help
				My address.

		config DESTINATION_ADDRESS
			depends on MQTT_TO_RADIO
			string "Destination address"
			default "FGHIJ"
			help
				Destination address.

		config RADIO_CHANNEL
			int "Radio channel to use"
			range 1 127
			default 90
			help
				Radio channel to use.

		config MQTT_BROKER
			string "MQTT Broker"
			default "broker.emqx.io"
			help
				Host name or IP address of the broker to connect to

		config MQTT_PUB_TOPIC
			depends on RADIO_TO_MQTT
			string "Publish Topic"
			default "/topic/mirf/test"
			help
				Topic of publish

		config MQTT_SUB_TOPIC
			depends on MQTT_TO_RADIO
			string "Subscribe Topic"
			default "/topic/mirf/test"
			help
				Topic of subscribe

	endmenu

endmenu 
